* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: radial-gradient(
    var(--mui-palette-background-paper), 
    var(--mui-palette-background-default)
  );
  background-attachment: fixed;
  min-height: 100vh;
}